<div class="toast-container">
  <div *ngFor="let toast of toasts$ | async" 
       [class.toast]="true" 
       [class]="'toast-' + toast.type"
       @slideIn>
    <div class="toast-content">
      <span class="toast-icon">
        <span *ngIf="toast.type === 'success'">✓</span>
        <span *ngIf="toast.type === 'error'">✕</span>
        <span *ngIf="toast.type === 'info'">ℹ</span>
        <span *ngIf="toast.type === 'warning'">⚠</span>
      </span>
      <span class="toast-message">{{ toast.message }}</span>
    </div>
    <div class="toast-progress" [style.animation-duration]="toast.duration + 'ms'"></div>
  </div>
</div>
